<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		   point="org.eclipse.ui.views"> 
       <category
            id="org.eclipse.tracecompass.totalads"
            name="Total Anomaly Detection">
      </category>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.diagnosis.DiagnosisView"
             icon="icons/diagnosis.ico"
             id="org.eclipse.tracecompass.totalads.ui.diagnosis.DiagnosisView"
             name="Diagnosis"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.results.ResultsView"
             icon="icons/results.ico"
             id="org.eclipse.tracecompass.totalads.ui.ResultsView"
             name="Results"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.modeling.ModelingView"
             icon="icons/modeling.ico"
             id="org.eclipse.tracecompass.totalads.ui.ModelingView"
             name="Modeling"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.models.DataModelsView"
             icon="icons/models.ico"
             id="org.eclipse.tracecompass.totalads.ui.DataModelsView"
             name="Models DB"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.properties.PropertiesView"
             icon="icons/properties.ico"
             id="org.eclipse.tracecompass.totalads.ui.PropertiesView"
             name="Properties"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.live.LiveMonitorView"
             icon="icons/livemonitor.ico"
             id="org.eclipse.tracecompass.totalads.ui.LiveMonitorView"
             name="Live Monitor"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.live.LiveResultsView"
             icon="icons/liveresults.ico"
             id="org.eclipse.tracecompass.totalads.ui.LiveResultsView"
             name="Live Results"
             restorable="true">
       </view>
   
     <!-- <extension  point="org.eclipse.ui.perspectives">
      <perspective
      		category="org.eclipse.tracecompass.totalads"
            class="org.eclipse.tracecompass.totalads.core.TMFTotalADSPerspectiveFactory"
      	    id="org.eclipse.tracecompass.totalads.ADS01"
            name="Total Anomaly Detection System"
            icon="icons/totalads.ico"/>
    </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.tracecompass.totalads.ADS01">
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               relative="right"/>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="top"/>
         <view
               id="org.eclipse.ui.views.BookmarkView"
               relationship="stack"
               relative="left"/>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="bottom"/>
      </perspectiveExtension>-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tracecompass.totalads.ui.TotalAdsPerspectiveFactory"
            icon="icons/totalads.ico"
            id="org.eclipse.tracecompass.totalads.ui.TotalAdsPerspective"
            name="TotalADS">
      </perspective>
   </extension>
   <extension
         name="create"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.tracecompass.totalads.ui.DataModelsView">
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.createModel"
               icon="icons/create.ico"
               style="push"
               tooltip="Creates a new model">
         </command>
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.testSettings"
               icon="icons/settings.ico"
               style="push"
               tooltip="Adjusts settings for testing">
         </command>
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.delete"
               icon="icons/delete.ico"
               style="push"
               tooltip="Deletes a model">
         </command>
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.dbconnection"
               icon="icons/db.ico"
               style="push"
               tooltip="Connects to a database">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.create.CreateModelHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.createModel">
      </handler>
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.delete.DeleteModelHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.delete">
      </handler>
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.settings.TestSettingsHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.testSettings">
      </handler>
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.dbconnect.DBConnectionHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.dbconnection">
      </handler>
   </extension>
   <extension
         id="TotalADSv1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="TotalADS">
         <property
               name="appName"
               value="TotalADS">
         </property>
      </product>
   </extension>
   <extension
         id="totaladsv1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="TotalADS">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.linuxtools.tracing.rcp.ui.application"
            name="TotalADS">
         <property
               name="appName"
               value="TotalADS">
         </property>
      </product>
   </extension>

</plugin>
 